body {
    font-family: Arial, sans-serif;
}
nav ul {
    list-style-type: none;
    
    padding: 10px;
    background-color: #f1f1f1;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

/* This is to ensure that the images always stay stacked and on the right - the key is the float and clear */
.content .image-container {
    float: right;
    clear: both;
    /* margin-left: 10px; */
    width: 150px;
    border: 0px solid #ccc;
    padding-bottom: 30px;
    padding-left: 15px;
}
.content img {
    width: 100%;
    height: auto;
}

footer {
    clear: both;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 20px;
}