body, html {
    margin: 20px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #c00c0c;
}
nav ul li {
    margin: 0;
    padding: 14px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #111;
}

/* This is to ensure that the images always stay stacked and on the right - the key is the float and clear */
.content .image-container {
  float: right;
  clear: both;
  /* margin-left: 10px; */
  width: 150px;
  border: 0px solid #ccc;
  padding-bottom: 30px;
  padding-left: 15px;
}
.content img {
  width: 100%;
  height: auto;
}

footer {
  clear: both;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  margin-top: 20px;
}

/* for the forms */
input[type=text], [type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #1f0e7c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor:pointer;
  }
  
  input[type=submit]:hover {
    background-color: #667567;
   
  }
  
  div.formStyle {
    border-radius: 15px;
    background-color: #97bad6;
    padding: 20px;
  }